body {
  margin: 0;
  position: relative;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  min-width: 1160px;
}

p, h3 {
  margin: 0;
}

/*Шапка*/
.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  background-color: #eee;
  text-transform: uppercase;
  padding-top: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu-link-main img:hover {
  opacity: 0.7;
}

.menu-link-main img:active {
  opacity: 0.5;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-item {
  display: inline-block;
  position: relative;
  margin-right: 42px;
}

.menu-item a, .menu-user a {
  display: block;
  text-decoration: none;
  color: #000;
  line-height: 30px;
  padding-top: 25px;
}

.menu-item a:hover, .menu-user a:hover {
  color: #fb565a;
}

.menu-item a:active, .menu-user a:active {
  color: #a6a6a6;
}

.menu-item-active::before {
  content: "";
  position: absolute;
  background: #fb565a;
  height: 2px;
  width: 100%;
  bottom: -5px;
}

.menu-basket {
  position: relative;
  padding-left: 40px;
}

.menu-basket::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 7px;
  left: 0;
  background: url(../img/Slice_7.png);
}

/*Красные блоки*/
.main__description {
  width: 1160px;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 33px;
  border-bottom: 2px solid #eee;
  display: flex;
  justify-content: space-between;
}

.main__text {
  width: 660px;
  margin-right: 120px;
  margin-left: auto;
}

.main__text-title {
  padding: 34px 0 0 0;
  margin: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.main__text-slogan {
  line-height: 24px;
  margin-top: 33px;
  margin-bottom: 19px;
}

.main__text h3 {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.main__text-list {
  list-style: none;
  margin-top: 9px;
}

.main__text-list li {
  padding-bottom: 24px;
  position: relative;
}

.main__text-list li::before {
  content: "";
  top: 11px;
  left: -35px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.main__statistics {
  width: 360px;
  margin-right: auto;
}

.main__table-title {
  display: block;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 29px;
}

.main__logo {
  padding-left: 10px;
}

.main__table {
  margin-top: 49px;
}

.main__table th {
  font-size: 44px;
}

.main__table td {
  padding: 26px 0;
  line-height: 18px;
}

.main__clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 43px 0;
  border-bottom: 2px solid #eee;
  margin: 0 auto 82px;
  width: 1160px;
}

.main__client {
  opacity: 0.24;
  width: 290px;  
  text-align: center;
}

/* поведение при наведении курсора */
.main__client:hover {	
  opacity: 1;
}

.main__client.main__client--academy img {
	width: 200px;
	height: 75px;
}

/*Меню 2ой страницы*/
.page-title {
  padding-top: 71px;
  padding-bottom: 107px;
  text-align: center;
  background-color: #eee;
  margin: 0;
  line-height: 55px;
  font-size: 55px;
  font-weight: 500;
}

/* Фильтр 2ой страницы*/
/*Фильтр стоимости*/
.filter-title--price {
  padding-top: 56px;
  padding-bottom: 48px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.filter-title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  padding: 0px;
}

.filter-range {
  width: 220px;
  position: relative;
  height: 51px;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 17px;
  padding-top: 28px;
  background: #f1f1f1;
}

.filter-scale {
  margin-top: 11px;
  height: 2px;
  background: #d7dcde;
}

.filter-bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.filter-toggle--min {
  left: 20px;
}

.filter-toggle {
  position: absolute;
  top: 30px;
  left: 17px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  background: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.filter-toggle--max {
  left: 159px;
}

.filter-value {
  display: inline-block;
  width: 50%;
  font-size: 16px;
}

.input {
  overflow: visible;
  line-height: 1.15;
  margin: 0;
}

.filter-value-input {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  margin-left: 7px;
  text-align: center;
  width: 60px;
  padding: 8px 10px;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.filter-value--max-price {
  text-align: right;
}

.filter-price {
  width: 260px;
  margin-bottom: 57px;
  font-size: 0;
}

.filter-conteiner {
  width: 238px;
  margin-right: 120px;
}

.filter-left {
  display: flex;
  margin-top: 15px;
}
.filter-left-1 {
  display: flex;
  margin-top: 15px;
}
.filter-left-2 {
  display: flex;
  margin-top: 15px;
}

/*Фильтр выбора*/
.filter-grid, .filter-features {
  margin-bottom: 57px;
}

.filter-radio, .filter-check {
  display: none;
}

.main {
  margin: 0 auto;
}

.filter-menu {
  display: flex;
  width: 1160px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
}

.filter-label {
  position: relative;
  font-size: 16px;
  line-height: 20px;
  display: block;
  cursor: pointer;
  color: #283136;
  padding-bottom: 25px;
  padding-left: 37px;
}

.filter-label:last-child {
  padding-bottom: 0;
}

.filter-label-radio::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: 0;
  position: absolute;
  background-image: url("../img/Slice_31.png");
  opacity: 0.4;
}

.filter-label-radio:hover::before, .filter-label-check:hover::before {
  opacity: 1;
}

.filter-label-radio:active::before, .filter-label-check:active::before {
  opacity: .1;
}

input[type=radio]:checked+label::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: 0;
  position: absolute;
  background-image: url("../img/Slice_32.png");
}

.filter-label-check::before {
  content: "";
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/Slice_29.png");
  opacity: 0.4;
}

input[type=checkbox]:checked+label::before {
  content: "";
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
  position: absolute;
  background-image: url("../img/Slice_30.png");
}

.filter-button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
  width: 260px;
  min-height: 50px;
  background-color: #eee;
  border: 0;
  cursor: pointer;
  border-radius: 5%;
  border-radius: 5px;
  margin-top: 35px;
}

.filter-button:hover, .paginator-link:hover {
  background-color: #dfdfdf;
}

.filter-button:active, .paginator-link:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: 0px 3px 0px 0px #bfbfbf inset;
}

/*Каталог 2ой страницы */
.catalog-list-2 {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  box-sizing: border-box;
  margin-top: 65px;
}

.catalog-item-2 {
  margin-right: 40px;
  margin-bottom: 80px;
  position: relative;
  background-color: #eee;
}

.catalog-item-2:hover {
    background-color: #4d4d4d;
}

.catalog-item-2:hover .price {
  opacity: 1;
}
.circle-header ul {
    list-style: none;
    margin: 12px 0 0 10px;
    padding: 0;
}
.circle-header ul li {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
}
.circle-header .circle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}

.catalog-item-2 .price {
  display: block;
  background-color: #eee;
  z-index: 3;
  padding: 19px 38px 41px;
  text-align: center;
  position: absolute;
  bottom: 0;
  transition: opacity 0.3s linear;
  opacity: 0;
}

.catalog-title {
  display: none;
  padding-bottom: 35px;
}

.catalog-filter {
  margin-top: 60px;
  margin-bottom: 90px;
}

.catalog-sort {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  text-transform: uppercase;
}

.catalog-sort-title {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  margin-right: 240px;
}

.catalog-sort-item {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin-left: 27px;
}

.catalog-sort-item--active a {
  color: #000;
  opacity: 1;
}

.catalog-sort-item a {
  color: #000;
  opacity: 0.3;
  text-decoration: none;
}

.catalog-toggle-list {
  display: inline-block;
  margin-left: 37px;
}

.catalog-toggle--down {
  width: 9px;
  height: 9px;
  margin-right: 10px;
  background-image: url(../img/Slice_27.png);
}

.catalog-toggle {
  display: inline-block;
  cursor: pointer;
}

.catalog-toggle--up {
  width: 9px;
  height: 9px;
  background-image: url(../img/Slice_28.png);
  opacity: 0.2;
  cursor: auto;
}

.catalog-toggle {
  display: inline-block;
  cursor: pointer;
}

/*Переключение страниц*/
.paginator-current {
  background-color: #fff;
  border: 2px solid #eee;
  box-sizing: border-box;
}

.paginator-link {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  height: 50px;
  text-decoration: none;
  color: #2e2e2e;
  font-size: 16px;
  line-height: 18px;
  padding: 16px 21px;
  background-color: #eee;
  border-radius: 5%;
  margin-right: 6px;
}

.paginator {
  margin-top: 20px;
  margin-bottom: 60px;
}

/*Слайды*/
.slider-dots-wrp {
  position: absolute;
  bottom: 106px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 50;
}

.slider-dot {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 6px;
  background: #fff;
  border: 5px solid #fff;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.slider-dot::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  top: 2px;
  right: 2px;
}

.slider {
  background-color: #eee;
  position: relative;
}

.slider-text {
  padding-top: 70px;
  padding-bottom: 78px;
  width: 515px;
}

.slider input[type=radio] {
  display: none;
}

#btn-1:checked~.slider-dots-wrp .slider-dot[for="btn-1"],
#btn-2:checked~.slider-dots-wrp .slider-dot[for="btn-2"],
#btn-3:checked~.slider-dots-wrp .slider-dot[for="btn-3"] {
  background: #c1c1c1;
}

.slider-item:nth-child(1) {
  background-image: url("../img/Slice_24.jpg");
  background-repeat: no-repeat;
  background-position: 99% -8px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/Slice_25.jpg");
  background-repeat: no-repeat;
  background-position: 99% -8px;
}

.slider-item:nth-child(3) {
  background-image: url("../img/Slice_26.jpg");
  background-repeat: no-repeat;
  background-position: 99% -8px;
}

.slider-item {
  display: none;
}

#btn-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#btn-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#btn-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

.slider-title, .main-title-catalog {
  display: block;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding: 0;
  padding-bottom: 26px;
  margin: 0;
}

.slider-slogan {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.button, .btn-hover, .btn {
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  border-radius: 5px;
}

.button-slider {
  width: 240px;
  margin-top: 40px;
}

.btn-hover {
  width: 200px;
  border: 0;
  background-color: #fb565a;
  margin: 0 auto;
  margin-top: 28px;
}

.button-slider, .button-order-red {
  background-color: #fb565a;
}

.button-slider:hover, .button-order-red:hover {
  background-color: #e74246;
}

.button-slider:active, .button-order-red:active {
  color: #e26f72;
  background-color: #d7373b;
  box-shadow: 0px 3px 0px 0px #c13135 inset;
}

/*Предложения*/
.button-order {
  width: 160px;
}

.button-order-yellow {
  background-color: #efc84a;
}

.button-order-yellow:hover {
  background-color: #eab534;
}

.button-order-yellow:active {
  color: #edc265;
  background-color: #e5a722;
  box-shadow: 0px 3px 0px 0px #ce961f inset;
}

.button-order-green {
  background-color: #00ca74;
}

.button-order-green:hover {
  background-color: #00bc6c;
}

.button-order-green:active {
  color: #4dc491;
  background-color: #00aa62;
  box-shadow: 0px 3px 0px 0px #009958 inset;
}

.catalog-main {
  margin: 0 auto;
  width: 1160px;
}

.catalog-list {
  margin-top: 80px;
  border-bottom: 2px solid #eee;
  list-style: none;
  padding: 0 0 84px 0;
  display: flex;
  justify-content: space-between;
}

.catalog-item {
  width: 360px;
}

.catalog-item p {
  margin-top: 18px;
  margin-bottom: 33px;
}

.catalog-item h3 {
  font-size: 24px;
  margin-top: 23px;
  text-transform: uppercase;
}
.catalog__hover {
    position: absolute;
    height: 235px;
    width: 100%;
    background-color: #eee;
    box-sizing: border-box;
    margin-top: 350px;
    z-index: 10;
    bottom: 0;
    display: none;
}




/*Кнопка для модального окна*/
.address {
  position: absolute;
  height: 418px;
  z-index: 20;
  background-size: cover;
  top: 50px;
  right: 0;
  left: 0;
  bottom: 0;
  margin-bottom: 110px;
  margin-left: 238px;
}

.address-title {
  padding: 11px 0 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.address-container {
  box-sizing: border-box;
  position: absolute;
  left: 134px;
  display: block;
  background-color: #fff;
  width: 318px;
  height: 310px;
  z-index: 30;
  padding: 40px 50px;
}

.address-text {
  display: block;
  color: #666;
  width: 202px;
  padding-top: 21px;
  line-height: 20px;
}

.address-phone {
  color: #666;
  padding-top: 13px;
  padding-bottom: 20px;
}

.button-address {
  background-color: #fb565a;
  width: 220px;
  margin-top: 14px;
}

/*Модальное окно*/
.modal-form {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;
}

.modal-wrp {
  padding-top: 70px;
  padding-bottom: 75px;
  padding-left: 100px;
  padding-right: 100px;  
  height: 445px;
}

.modal-login {
  top: 120px;
  left: 50%;
  display: none;
  width: 300px;
  margin: 0 auto;
  padding: 50px 80px;
}

.modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -300px;
  padding-bottom: 85px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 960px;
  height: 590px;
  background-color: #fff;
  box-shadow: -1px 12px 19px -5px #000;
  display: none;
}

.modal-close {
  position: absolute;
  font-size: 0;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border: 0;
  background: none;
  background-image: url("../img/Slide_7.png");
  background-color: red;
  opacity: .3;
}

.modal-show {
  display: block;
  -webkit-animation: bounce .5s;
  animation: bounce .5s;
}

.modal-title {
  position: relative;
  font-size: 45px;
  line-height: 45px;
  font-weight: 600;
}

.modal-input, .modal-comment {
  display: inline-block;
  box-sizing: border-box;
  line-height: 18px;
  color: #a1a1a1;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #d7dcde;
  border-radius: 5px;
  width: 360px;
  outline: none;
}

.modal-input:focus, .modal-comment:focus {
  color: #000;
  border: 2px solid #000;
}

.modal-input:invalid, .modal-comment:invalid {
  box-shadow: none;
  color: #e74246;
  border: 2px solid #e74246;
}

.modal-text {
  display: inline-block;
  width: 360px;
}

.modal-text-comment {
  position: relative;
  margin-top: 30px;
}

.modal-comment {
  width: 760px;
  height: 115px;
}

.btn {
  cursor: pointer;
  position: absolute;
  bottom: 75px;
  background-color: #fb565a;
  width: 260px;
  border: 0;
}

.btn:active, .btn:focus {
  outline: none;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: .1;
}

.shake {	
  -webkit-animation: shake .5s;
  animation: shake .5s;
}

/*Подвал*/
.main-footer {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin-right: 140px;
  padding: 65px 0 0 0;
}

.footer-item {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  background-color: #e1e1e1;
  font-size: 0;
}

.footer-item:hover {
  background-color: #e74246;
}

.footer-item:active {
  background-color: #d7373b;
}

.footer-item-vk {
  background-image: url("../img/Slice_12.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-item-fb {
  background-image: url("../img/Slice_11.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-item-ig {
  background-image: url("../img/Slice_9.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-text {
  width: 560px;
  margin: 70px 0 0;
}

.footer-text-slog {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 600;
}

.footer-text-off {
  font-size: 16px;
  line-height: 22px;
  color: #444;
  padding-top: 11px;
}

/*Разное*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.map-conteiner {
  position: relative;
}

/*Анимация*/
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/*Анимация*/
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
