body {
    margin: 0;
    padding: 0;

    font-family:"PT Sans Narrow", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: black;
    text-transform: none;
    background-color: #eeeeee;
}
/* Шапка родитель */
.main-header {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto ;

}
/* Логотип*/
.header-logo {
    padding: 34px 98px 10px;
}
/* крзина*/
.icon-basket {
    width: 182px;
    padding: 58px 24px;
    margin: 0 auto;

}
/* Блок навигации*/
.main-header ul {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: auto;
    padding: 0 10px;
    margin: 0;
    border: none;
    list-style: none;

}
/* отступы для меню*/
.main-header li {
    display: flex;
    justify-content: center;
    padding: 58px 20px 24px;
    margin: 0;
}
.services {
    background: #fff;
}
.layout-center-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    width: auto;
    margin: 0 auto;

}

/* Разметка внутри контейнера*/
.catalog-list {
    display: flex;
    width:  1000px;

    justify-content: space-between;
    list-style: none;
    text-align: left;
    background-color:  white;
    padding: 0 0 58px;
    margin: 98px;
}
/* обьекты в контейнере*/
.catalog-item {
    display: flex;
    flex-wrap: wrap;
    width: 210px;
    margin-right: 70px;


}
/* Шрифты для предложений*/
.catalog-item h3 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
}
.catalog-list h3 {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 42px;
    font-weight: 700;
}
.page-title {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.site-navigation a {
    color: black;
}
.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    text-decoration: underline;
}
.site-navigation-current {
    color: red;
}
.page-title {
    background-color:  #eeeeee;
}
.main {
    width: 1000px;
    margin: 0 auto;

}
.filter-menu {
    display: flex;
    width: 1000px;

}
.filters {
    background-color:  white;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}
.filter fieldset {
    border: none;
}
.filter-option {
    font-weight: 400;
    list-style: none;
    text-transform: none;
    background-color: white;
}
.catalog {
    background-color: white;
}

.section {
  width: 1000px;
  height: 352px;
  margin: 0 auto;
}
.section {
  background-color: white;
}

.filter-button {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: black;
    background-color: #eeeeee;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    font-weight: 500;
}
.filter ul {
    line-height: 10px;
}
.catalog-menu {
    display: flex;
    width: 723px;

}
.catalog-slide {
  display: flex;
  width: 723px;
  flex-wrap: wrap;
}
/* Подвал*/
.main-footer {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 1000px;
    margin: 0 auto;
}
.main-footer ul {
    display: flex;
    width: auto;
    list-style: none;
    flex-wrap: nowrap;

}
.social {
    display: flex;
    width: auto;
    margin: 0 auto;


    font-size: 30px;
    line-height: 42px;
}
.
.footer-social {
    display: flex;
    width: auto;

    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
